
@font-face {
    font-family: roboto-thin;
    src: url(../fonts/fonts/roboto/Roboto-thin.ttf);
}

@font-face {
    font-family: roboto-light;
    src: url(../fonts/fonts/roboto/Roboto-Light.ttf);
}

@font-face {
    font-family: roboto-regular;
    src: url(../fonts/fonts/roboto/Roboto-Regular.ttf);
}

@font-face {
    font-family: roboto-medium;
    src: url(../fonts/fonts/roboto/Roboto-Medium.ttf);
}

@font-face {
    font-family: roboto-bold;
    src: url(../fonts/fonts/roboto/Roboto-Bold.ttf);
}

@font-face {
    font-family: roboto-black;
    src: url(../fonts/fonts/roboto/Roboto-Black.ttf);
} 

.roboto-thin {
    font-family: roboto-thin;
}

.roboto-regular {
    font-family: roboto-regular;
}

.roboto-medium {
    font-family: roboto-medium;
}

.roboto-bold {
    font-family: roboto-bold;
}

.roboto-black {
    font-family: roboto-black;
}

html,body{
    padding: 0;
    margin: 0;
    
}
.menu-bar .menu-active{
    font-family: 'roboto-black';
}